.bakeGood-side{

    position: relative;
}

.building{

    .building-container{
        height:600px;
        position: relative;
        width: auto;

        #building-img{
            position:absolute;
            width:100%;
            margin:0 auto;
            bottom:0;
            height:250px;
            z-index:100;
            transition: all .2s ease-in-out;

            &:hover{
                opacity:0.9;
                cursor: pointer;
            }
        }


        .sky{

            background-image: url(./images/Bakery/sky.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 600px;
            width: 100%;
            position: absolute;
            z-index: 5;

        }

        .cloud{

            background-image: url(./images/Bakery/cloud.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 600px;
            width: 30%;
            position: absolute;
            z-index: 5;

        }


        .sun{

            background-image: url(./images/Bakery/sun.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 150px;
            width: 100%;
            position: absolute;
            z-index: 5;
        }


        .count-number {
            position: absolute;
            font-size: 22px;
            color: #fff;
            font-weight: 700;
            margin: auto 0;
            top: 75%;
            opacity:0;
            right: 50%;
            z-index: 150;

            &.count-top{

                top: 50%;
                opacity: 1;
                transition: all .5s;
            }
        }
    }

}

.bld-info{

    background-color: #70B2CC;
    border:2px solid #9E005D;
    z-index:90;
    color:#650B08;
    padding:10px;
    position:relative;


    .bld-button{

        color:#fff;
        text-align:center;
        background-color: #F790BD;
        width: 90px;
        position:relative;
        margin: 0 auto;

        &:hover{
            cursor: pointer;
        }
    }

    .current-lvl{
        float: left;

    }

    .nxt-lvl{
        float:right;
    }
}

#building-img:hover{

    transform: scale(0.95);

}

#building-img.grow{

    transform: scale(1.03);
}



/******** Start list of cupcakes *********/

.display-shelf .bakeGood-icon.shadow-cupcake{
    background-image: url(./images/shadow-cupcake.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 123px;

}

.display-shelf .shadow-cupcake:hover{
    background-image: url(./images/shadow-cupcake-border.png);
    cursor: pointer;
}

.display-shelf .bakeGood-icon.cupcake{

    background-image: url(./images/cupcake.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 123px;

}


/** this is the the big Clickable items */

.baseBuilding{
    background-image: url(./images/Bakery/bakery-building.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.macaron{

    background-image: url(./images/bakery-items/macaron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 123px;

}
